<!DOCTYPE html>
<html>
<head>
    <title>Mental Health Questionnaire</title>
    <!-- Link to styles in main.css in the public folder  -->
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/assessmentpage.css">
    <!-- Link to the Bootstrap CSS for styling the page -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
    <!-- Link to the Font Awesome CSS for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- For bootstrap javascript libraries for carousel -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>

<body class="main-home-page">
    <!-- Include the header -->
    <%- include('../utils/header') %>

    <div class="assessment-container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="images/selfassesheader.png" alt="Assessment Image">
            </div>
            <div class="col-md-6 text-center">
                <div class="assessment-text">
                    <h1>THE SELF - ASSESSMENT</h1>
                    <p>Find Out How You're Feeling!<br> Complete Our Survey!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Statistics Section -->
    <div class="container mt-4">
        <h2 class="text-center">Importance of knowing Kids' Feelings</h2>
        <br>
        <div class="row text-center">
            <div class="col-md-3 mb-3">
                <div class="stat-box p-3 border rounded">
                    <h3>1 in 6</h3>
                    <p>children aged 8 to 12 experience multiple anxiety-related disorders.</p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="stat-box p-3 border rounded">
                    <h3>25%</h3>
                    <p>of children in this age group show signs of depression and anxiety.</p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="stat-box p-3 border rounded">
                    <h3>40%</h3>
                    <p>of children aged 8 to 12 have experienced bullying, which can impact mental health.</p>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="stat-box p-3 border rounded">
                    <h3>30%</h3>
                    <p>of children in this age group are not receiving adequate mental health support.</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- Understanding Emotions Section -->
    <div class="container mt-4">
        <h2 class="text-center">Understanding Emotions</h2>
        <br><br>
        <div class="row text-center">
            <div class="col">
                <!-- Image for Happy Emotion -->
                <img src="images/happy-image.jpg" alt="Happy" class="emotion-image mb-2">
                <div class="cloud">Happy</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#happyDescription" aria-expanded="false" aria-controls="happyDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="happyDescription">
                    <p class="emotion-description">Feeling happy can lead to a positive outlook on life. It often involves joy, pleasure, or contentment.</p>
                </div>
            </div>
            <div class="col">
                <!-- Image for Sad Emotion -->
                <img src="images/sad-image.jpg" alt="Sad" class="emotion-image mb-2">
                <div class="cloud">Sad</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#sadDescription" aria-expanded="false" aria-controls="sadDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="sadDescription">
                    <p class="emotion-description">Sadness can be a reaction to loss or disappointment. It might involve feelings of sorrow or unhappiness.</p>
                </div>
            </div>
            <div class="col">
                <!-- Image for Angry Emotion -->
                <img src="images/angry-image.jpg" alt="Angry" class="emotion-image mb-2">
                <div class="cloud">Angry</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#angryDescription" aria-expanded="false" aria-controls="angryDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="angryDescription">
                    <p class="emotion-description">Anger is a powerful emotion that often arises in response to perceived injustice or frustration.</p>
                </div>
            </div>
            <div class="col">
                <!-- Image for Surprised Emotion -->
                <img src="images/surprised-image.jpg" alt="Surprised" class="emotion-image mb-2">
                <div class="cloud">Surprised</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#surprisedDescription" aria-expanded="false" aria-controls="surprisedDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="surprisedDescription">
                    <p class="emotion-description">Surprise is an emotional reaction to something unexpected. It can range from shock to delight.</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row text-center">
            <div class="col">
                <!-- Image for Shy Emotion -->
                <img src="images/shy-image.jpg" alt="Shy" class="emotion-image mb-2">
                <div class="cloud">Shy</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#shyDescription" aria-expanded="false" aria-controls="shyDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="shyDescription">
                    <p class="emotion-description">Shyness is a feeling of discomfort or apprehension in social situations. It often involves being reserved or hesitant to engage with others.</p>
                </div>
            </div>
            <div class="col">
                <!-- Image for Depressed Emotion -->
                <img src="images/depressed-image.jpg" alt="Depressed" class="emotion-image mb-2">
                <div class="cloud">Depressed</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#depressedDescription" aria-expanded="false" aria-controls="depressedDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="depressedDescription">
                    <p class="emotion-description">Depression is a serious mood disorder characterized by persistent feelings of sadness, hopelessness, and loss of interest in activities. It can impact one's daily functioning and overall quality of life.</p>
                </div>
            </div>
            <div class="col">
                <!-- Image for Stressed Emotion -->
                <img src="images/stress-image.jpg" alt="Stress" class="emotion-image mb-2">
                <div class="cloud">Stressed</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#stressedDescription" aria-expanded="false" aria-controls="stressedDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="stressedDescription">
                    <p class="emotion-description">Stress is a feeling of emotional or physical tension that can arise from challenging or demanding situations. It can lead to feelings of overwhelm and affect both mental and physical health.</p>
                </div>
            </div>
            <div class="col">
                <!-- Image for Fear Emotion -->
                <img src="images/fear-image.jpg" alt="Fear" class="emotion-image mb-2">
                <div class="cloud">Fear</div>
                <button class="btn btn-info mt-2" type="button" data-toggle="collapse" data-target="#fearDescription" aria-expanded="false" aria-controls="fearDescription">
                    Learn More
                </button>
                <div class="collapse mt-2" id="fearDescription">
                    <p class="emotion-description">Fear is an emotional response to a perceived threat or danger. It can trigger a fight-or-flight reaction and is often associated with anxiety or nervousness.</p>
                </div>
            </div>
        </div>        
    </div>

    <br><br><br>

    <div class="questionnaireHeader">
        <h2 class="text-center">Let's Check In: How Are You Feeling Today?</h2>
        <div class="questionnairebutton">
            <% if (userName) { %>
                <button id="complete-questionnaire-btn" class="btn btn-primary">Complete Questionnaire</button>
                <br><br>
                
            <% } else { %>
                <p>Please <a href="/login">login</a> to complete a new questionnaire or view your past questionnaire results.</p>
            <% } %>
        </div>
    </div>
    
    <div class="container mt-4" id="questionnaire-form-container" style="display: none;">
        <h2 class="text-center">Mental Health Questionnaire</h2>
        <form id="mental-health-form">
            <div class="form-group">
                <label for="q1">How often have you felt down, depressed, or hopeless in the last two weeks?</label>
                <div class="radio-group">
                    <label><input type="radio" name="q1" value="Not at all"> Not at all</label>
                    <label><input type="radio" name="q1" value="Rarely"> Rarely</label>
                    <label><input type="radio" name="q1" value="Sometimes"> Sometimes</label>
                    <label><input type="radio" name="q1" value="Often"> Often</label>
                    <label><input type="radio" name="q1" value="Very Often"> Very Often</label>
                    <label><input type="radio" name="q1" value="Always"> Always</label>
                </div>
            </div>
            <div class="form-group">
                <label for="q2">How often have you had little interest or pleasure in doing things in the last two weeks?</label>
                <div class="radio-group">
                    <label><input type="radio" name="q2" value="Not at all"> Not at all</label>
                    <label><input type="radio" name="q2" value="Rarely"> Rarely</label>
                    <label><input type="radio" name="q2" value="Sometimes"> Sometimes</label>
                    <label><input type="radio" name="q2" value="Often"> Often</label>
                    <label><input type="radio" name="q2" value="Very Often"> Very Often</label>
                    <label><input type="radio" name="q2" value="Always"> Always</label>
                </div>
            </div>
            <div class="form-group">
                <label for="q3">How often have you felt nervous, anxious, or on edge in the last two weeks?</label>
                <div class="radio-group">
                    <label><input type="radio" name="q3" value="Not at all"> Not at all</label>
                    <label><input type="radio" name="q3" value="Rarely"> Rarely</label>
                    <label><input type="radio" name="q3" value="Sometimes"> Sometimes</label>
                    <label><input type="radio" name="q3" value="Often"> Often</label>
                    <label><input type="radio" name="q3" value="Very Often"> Very Often</label>
                    <label><input type="radio" name="q3" value="Always"> Always</label>
                </div>
            </div>
            <div class="form-group">
                <label for="q4">How often have you felt tired or had little energy in the last two weeks?</label>
                <div class="radio-group">
                    <label><input type="radio" name="q4" value="Not at all"> Not at all</label>
                    <label><input type="radio" name="q4" value="Rarely"> Rarely</label>
                    <label><input type="radio" name="q4" value="Sometimes"> Sometimes</label>
                    <label><input type="radio" name="q4" value="Often"> Often</label>
                    <label><input type="radio" name="q4" value="Very Often"> Very Often</label>
                    <label><input type="radio" name="q4" value="Always"> Always</label>
                </div>
            </div>
            <div class="form-group">
                <label for="q5">How often have you had trouble concentrating on things in the last two weeks?</label>
                <div class="radio-group">
                    <label><input type="radio" name="q5" value="Not at all"> Not at all</label>
                    <label><input type="radio" name="q5" value="Rarely"> Rarely</label>
                    <label><input type="radio" name="q5" value="Sometimes"> Sometimes</label>
                    <label><input type="radio" name="q5" value="Often"> Often</label>
                    <label><input type="radio" name="q5" value="Very Often"> Very Often</label>
                    <label><input type="radio" name="q5" value="Always"> Always</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit-questionnaire-btn">Submit</button>
        </form>
        
    </div>

    <% if (userName) { %>
    <div class="view-assessment-information" >
        <div class="container mt-4">
            <h2 class="text-center">Your Latest Assessment</h2>
            <div id="latest-assessment"></div>
        </div>

        <br><br>
        
        <div class="container mt-4">
            <h2 class="text-center">Past Assessments</h2>
            <div id="view-assessments-container">
                <button id="view-assessments-btn" class="btn btn-primary">View Past Assessments</button>
            </div>
            <br><br>
            <div id="assessments-list" style="display: none;"></div>
        </div>
        
        <div class="container mt-4">
            <h2 class="text-center">Assessment Levels and Scores</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Level</th>
                        <th>Score Range</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Low</td>
                        <td>0-5</td>
                        <td>Minimal mental health concerns.</td>
                    </tr>
                    <tr>
                        <td>Moderate</td>
                        <td>6-10</td>
                        <td>Moderate mental health concerns.</td>
                    </tr>
                    <tr>
                        <td>High</td>
                        <td>11-15</td>
                        <td>High mental health concerns, consider seeking help.</td>
                    </tr>
                    <tr>
                        <td>Very High</td>
                        <td>16-20</td>
                        <td>Very high mental health concerns, professional help is recommended.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
    
    
    
    
    <script>
        document.getElementById('complete-questionnaire-btn').addEventListener('click', function() {
            document.getElementById('questionnaire-form-container').style.display = 'block';
            this.style.display = 'none';
        });

        document.getElementById('mental-health-form').addEventListener('submit', function(event) {
            event.preventDefault();
    
            const formData = new FormData(event.target);
            const data = {};
    
            formData.forEach((value, key) => {
                data[key] = value;
            });

            console.log("Data being sent to server:", data);  // Debugging line to ensure data is correct

            fetch('/submit-assessment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                alert('Assessment submitted successfully.');
                displayLatestAssessment(data);
                // Do not immediately add to past assessments
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error submitting assessment.');
            });
        });

        document.getElementById('view-assessments-btn').addEventListener('click', function() {
            const assessmentsList = document.getElementById('assessments-list');
            if (assessmentsList.style.display === 'block') {
                assessmentsList.style.display = 'none';
                document.getElementById('view-assessments-btn').innerText = 'View Past Assessments';
            } else {
                fetch('/assessments')
                .then(response => response.json())
                .then(data => {
                    assessmentsList.innerHTML = '';
                    if (data.length === 0) {
                        assessmentsList.innerHTML = '<p>No past assessments found.</p>';
                    } else {
                        data.forEach(assessment => {
                            addToPastAssessments(assessment); // Reuse the function to add to past assessments
                        });
                    }
                    // Show the assessments and update the button text
                    assessmentsList.style.display = 'block';
                    document.getElementById('view-assessments-btn').innerText = 'Hide Past Assessments';
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error retrieving assessments.');
                });
            }
        });

        function displayLatestAssessment(data) {
            
            const latestAssessment = document.getElementById('latest-assessment');
            latestAssessment.innerHTML = `
                <p>Date: ${new Date(data.createdAt).toLocaleString()}</p>
                <p>Score: ${data.score}</p>
                <p>Level: ${data.level}</p>
                <p>Description: ${data.description}</p>
                <hr>
            `;
        }

        function addToPastAssessments(assessment) {
            const assessmentsList = document.getElementById('assessments-list');
            const assessmentItem = document.createElement('div');
            assessmentItem.className = 'assessment-item';
            assessmentItem.innerHTML = `
                <p>Date: ${new Date(assessment.createdAt).toLocaleString()}</p>
                <p>Score: ${assessment.score}</p>
                <p>Level: ${assessment.level}</p>
                <p>Description: ${assessment.description}</p>
                <hr>
            `;
            assessmentsList.appendChild(assessmentItem);
        }
    </script>


        
        
    <!-- <div id="questionnaire-section" style="display:none;">
        <h1>Questions:</h1>
        <form id="questionnaire-form" method="POST" action="/submit-questionnaire">
            <div class="form-group">
                <label for="question1">I feel happy most of the time.</label>
                <div class="rating">
                    <input type="radio" id="q1-1" name="question1" value="1" required><label for="q1-1">1</label>
                    <input type="radio" id="q1-2" name="question1" value="2"><label for="q1-2">2</label>
                    <input type="radio" id="q1-3" name="question1" value="3"><label for="q1-3">3</label>
                    <input type="radio" id="q1-4" name="question1" value="4"><label for="q1-4">4</label>
                    <input type="radio" id="q1-5" name="question1" value="5"><label for="q1-5">5</label>
                </div>
                
            </div>
            <div class="form-group">
                <label for="question2">I enjoy spending time with friends.</label>
                <div class="rating">
                    <input type="radio" id="q2-1" name="question2" value="1" required><label for="q2-1">1</label>
                    <input type="radio" id="q2-2" name="question2" value="2"><label for="q2-2">2</label>
                    <input type="radio" id="q2-3" name="question2" value="3"><label for="q2-3">3</label>
                    <input type="radio" id="q2-4" name="question2" value="4"><label for="q2-4">4</label>
                    <input type="radio" id="q2-5" name="question2" value="5"><label for="q2-5">5</label>
                </div>
            </div>
            <div class="form-group">
                <label for="question3">I feel comfortable talking to my family about my feelings.</label>
                <div class="rating">
                    <input type="radio" id="q3-1" name="question3" value="1" required><label for="q3-1">1</label>
                    <input type="radio" id="q3-2" name="question3" value="2"><label for="q3-2">2</label>
                    <input type="radio" id="q3-3" name="question3" value="3"><label for="q3-3">3</label>
                    <input type="radio" id="q3-4" name="question3" value="4"><label for="q3-4">4</label>
                    <input type="radio" id="q3-5" name="question3" value="5"><label for="q3-5">5</label>
                </div>
            </div>
            <div class="form-group">
                <label for="question4">I get along well with my classmates at school.</label>
                <div class="rating">
                    <input type="radio" id="q4-1" name="question4" value="1" required><label for="q4-1">1</label>
                    <input type="radio" id="q4-2" name="question4" value="2"><label for="q4-2">2</label>
                    <input type="radio" id="q4-3" name="question4" value="3"><label for="q4-3">3</label>
                    <input type="radio" id="q4-4" name="question4" value="4"><label for="q4-4">4</label>
                    <input type="radio" id="q4-5" name="question4" value="5"><label for="q4-5">5</label>
                </div>
            </div>
            <div class="form-group">
                <label for="question5">I feel safe and secure at home.</label>
                <div class="rating">
                    <input type="radio" id="q5-1" name="question5" value="1" required><label for="q5-1">1</label>
                    <input type="radio" id="q5-2" name="question5" value="2"><label for="q5-2">2</label>
                    <input type="radio" id="q5-3" name="question5" value="3"><label for="q5-3">3</label>
                    <input type="radio" id="q5-4" name="question5" value="4"><label for="q5-4">4</label>
                    <input type="radio" id="q5-5" name="question5" value="5"><label for="q5-5">5</label>
                </div>
            </div>
            <div class="form-group">
                <label for="detailedResponses">Please describe your feelings in more detail:</label>
                <textarea id="detailedResponses" name="detailedResponses" class="form-control" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="submit-questionnaire-btn">Submit</button>
        </form>
    </div>
    
    <div id="response-message"></div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the button and questionnaire section elements
            var button = document.getElementById('complete-questionnaire-btn');
            var questionnaireSection = document.getElementById('questionnaire-section');
            
            // Function to toggle visibility
            function toggleQuestionnaire() {
                if (questionnaireSection.style.display === 'none' || questionnaireSection.style.display === '') {
                    questionnaireSection.style.display = 'block';
                } else {
                    questionnaireSection.style.display = 'none';
                }
            }

            // Add click event listener to the button
            if (button) {
                button.addEventListener('click', toggleQuestionnaire);
            }
            
            // Handle form submission
            var form = document.getElementById('questionnaire-form');
            if (form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Prevent the default form submission
                    
                    // Create a FormData object
                    var formData = new FormData(form);
                    
                    // Send the form data using Fetch API
                    fetch('/submit-questionnaire', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Display success message or handle response
                        document.getElementById('response-message').innerText = 'Thank you for completing the questionnaire!';
                        form.reset(); // Reset form fields
                    })
                    .catch(error => {
                        // Handle errors
                        console.error('Error:', error);
                        document.getElementById('response-message').innerText = 'There was an error submitting your response. Please try again.';
                    });
                });
            }
        });
    </script> -->

    <!-- Include the footer -->
    <%- include('../utils/footer') %>


</body>
</html>
