<!DOCTYPE html>
<html>
<head>
    <title>Past Responses</title>
    <!-- Include stylesheets -->
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/assessmentpage.css">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Include the header -->
    <%- include('../utils/header') %>

    <a href="/assessment">BACK TO ASSESSMENT PAGE</a>
    <div class="container mt-4">
        <h2 class="text-center">Past Responses</h2>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Question 1</th>
                    <th>Question 2</th>
                    <th>Question 3</th>
                    <th>Question 4</th>
                    <th>Question 5</th>
                    <th>Date Submitted</th>
                </tr>
            </thead>
            
        </table>
    </div>

    <!-- Include the footer -->
    <%- include('../utils/footer') %>
</body>
</html>
