/* General body styling */
body.main-home-page {
    color: #333; /* Dark text color for readability */
}


/* Assessment Header section styling */

.assessment-container {
    background-color: #ffb6c1; 
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    height: 40vh; 
    font-family: 'Rusty Hooks', cursive;
}


.assessment-container .assessment-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000; 
    
}

.assessment-container .assessment-text p {
    font-size: 1.5rem;
    color: #000; 
}

.assessment-container img {
    width: 65%;
    height: 20%;
    object-fit: cover; /* Ensure the image covers the full height and width without distortion */
    margin-left:-40%;
}


/* Style for the statistics boxes */
.stat-box {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background-color: #f3f7d0;
}

/* Define the pop effect on hover */
.stat-box:hover {
    transform: scale(1.05);
}

/* Optional: Add a shadow for better effect */
.stat-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 1.5; /* Add some space between the lines */
    color: #333; /* Dark gray text color */
    text-align: center; /* Center the text */
    font-family: 'Yaelah';
}

.stat-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.stat-box-heading {
    font-size: 1.5rem; /* Larger font size for the headings */
}

.stat-box p {
    margin: 0; /* Remove the default margin for the paragraphs */
}

.emotion-image {
    width: 100px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    border-radius: 12px; /* Rounded corners for a soft look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.cloud {
    background-color: #fff; /* White background */
    border-radius: 12px; /* Rounded corners */
    padding: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: 'Rusty Hooks', cursive;
    letter-spacing: 0.2em;
}

.btn-info {
    background-color: #ff6f61; /* Soft coral color */
    border-color: #ff6f61;
    border-radius: 8px; /* Rounded corners */
}

.btn-info:hover {
    background-color: #ff4d4d; /* Darker coral for hover effect */
    border-color: #ff4d4d;
}

.emotion-description {
    font-family: 'Yaelah';
}


/* Questionnaire header styling */
.questionnaireHeader {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Yaelah';
}

/* Questionnaire section styling */
#questionnaire-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff; /* white background */
    border: 1px solid #ddd; /* light gray border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

#complete-questionnaire-btn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#complete-questionnaire-btn:hover {
    background-color: #bd4a4a;
}


/* Container for the questionnaire section */
#questionnaire-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fcfaf3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header for the questionnaire */
#questionnaire-form-container-header {
    text-align: center;
    color: #6ba1ff;
    margin-bottom: 20px;
    font-family: 'Yaelah';
}

 /* Form styles */
#mental-health-form {
    margin-top: 20px;
    font-family: 'Yaelah';
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333; /* dark gray text */
    font-size: 12px;
}


/* Radio button styling */

.radio-group {
    margin-bottom: 20px;
    
}

.radio-group label {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer; /* change cursor to hand on hover */
}

input[type="radio"] {
	appearance: none;
	width: 10px;
	height: 10px;
	border: 2px solid #507cbb;
	border-radius: 100%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #4c85e0;
}

/* Submit button styling */
#submit-questionnaire-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    background-color: #5c92d0;
    width: 20%;
    font-family: 'Yaelah';
}

#view-assessments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust based on your layout */
}

#view-assessments-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    background-color: #9b6b43;
    font-family: 'Yaelah';
}

/* Hover effect for submit button */
#submit-questionnaire-btn:hover {
    background-color: #2980b9;
}

/* Hover effect for submit button */
#view-assessments-btn:hover {
    background-color: #cf8a68;
}


/* Response message styling */
#response-message {
    margin-top: 20px;
    text-align: center;
}


/* Assessment Level and Scores table styling */
.table {
    border-collapse: separate;
    border-spacing: 0 10px; /* add space between rows */
    font-size: 0.8rem;
}
  
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* light gray border */
    border-radius: 5px; /* rounded corners */
}
  
th {
    background-color: #de7a66; /* green background for headers */
    color: #fff; /* white text */
}
  
td {
    background-color: #ebeaea; /* light gray background for cells */
}
  
td ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
td li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* light gray border */
}
  
td li:last-child {
    border-bottom: none; /* remove border from last item */
}
  
td li:before {
    content: "\2714"; /* checkmark icon */
    font-size: 12px;
    margin-right: 10px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2; /* light gray background for even rows */
}

/* Lastest Assessment Container and Content Styling */

.latest-assessment-container {
    background-color: #f7f7f7; /* light gray background */
    padding: 20px;
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}
  
.latest-assessment-date {
    font-weight: bold; /* bold font for date */
    color: #333; /* dark gray text */
}
  
.latest-assessment-score {
    font-size: 13px; /* larger font for score */
    color: #666; /* medium gray text */
}
  
.latest-assessment-level {
    font-weight: bold; /* bold font for level */
    color: #333; /* dark gray text */
}
  
.latest-assessment-description {
    font-size: 12px; /* smaller font for description */
    color: #999; /* light gray text */
}
  
.latest-assessment-divider {
    border: none; /* remove default border */
    border-top: 1px solid #ddd; /* light gray border */
    margin: 20px 0; /* add space above and below divider */
}


/* Past Assessment Container and Content Styling */

.assessment-item {
    background-color: #f7f7f7; /* light gray background */
    padding: 20px;
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
    margin-bottom: 20px; /* add space between items */
}
  
.assessment-date {
    font-weight: bold; /* bold font for date */
    color: #333; /* dark gray text */
}
  
.assessment-score {
    font-size: 13px; /* larger font for score */
    color: #666; /* medium gray text */
}
  
.assessment-level {
    font-weight: bold; /* bold font for level */
    color: #333; /* dark gray text */
}
  
.assessment-description {
    font-size: 12px; /* smaller font for description */
    color: #999; /* light gray text */
}
  
.assessment-divider {
    border: none; /* remove default border */
    border-top: 1px solid #ddd; /* light gray border */
    margin: 20px 0; /* add space above and below divider */
}

