/* General body styling */
body.assessment-page {
    background-color: #f0f8ff; /* Light background color */
    color: #333; /* Dark text color */
}

/* Welcome section styling */
.welcome-section {
    background-color: #ffebcd; /* Light background color */
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 600px;
    text-align: center;
}

.welcome-section button {
    margin-top: 10px;
    background-color: #69afff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.welcome-section button:hover {
    background-color: #4369a1; /* Darker shade for hover */
}

/* Completed section styling */
.completed-section {
    background-color: #dbdffb;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1100px;
    border: 1px solid #ddd; /* light gray border */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}



/* Achievements section styling */
.achievements-section {
    background-color: #f9f1eb;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1100px;
    border: 1px solid #ddd; /* light gray border */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.achievements-section h2 {
    color: #007bff; /* Matching header color */
}

.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.badge {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.badge img {
    width: 100px;
    height: auto;
}

.badge p {
    margin-top: 0.5rem;
}

/* Progress section styling */

.progress-section {
    background-color: #f9ebf3;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1100px;
    border: 1px solid #ddd; /* light gray border */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.progress {
    height: 100px; /* Increased height */
    width: 50%; /* Reduced width */
    background-color: #e0e0e0;
    border-radius: 20px; 
    overflow: hidden;
    margin-left: 0; 
}


.progress-bar {
    height: 100%;
    line-height: 40px; /* Match the height of the progress bar */
    color: white;
    text-align: center;
    transition: width 0.6s ease;
}

.progress-section {
    text-align: left;
}

/* Progress Bar Styling */
.progress-bar-low {
    background-color: red !important;
}

.progress-bar-medium {
    background-color: yellow !important;
}

.progress-bar-high {
    background-color: rgb(232, 227, 90) !important;
}

.progress-bar-very-high {
    background-color: green !important;
}

.click-to-go-text{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.game-link:hover {
    color: #2980b9; /* Darker blue color for the link on hover */
    text-decoration: none;
}

.game {
    background-color: #f7f7f7; /* Light gray background color for the game container */
    border: 1px solid #ddd; /* Add a border to the game container */
    padding: 1rem; /* Add some space around the game content */
    margin-bottom: 1rem; /* Add some space between the games */
    border-radius: 0.5rem; /* Add a subtle rounded corner to the game container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the game container */
}

.game-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: 'SuperMilk';
    color: #faffd1;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    letter-spacing: 0.2em;
}

.game-details {
    margin-top: 5px;
}

.game-status {
    font-size: 0.9rem;
    margin: 20px 20px;
    color: #555;
}

.game-message {
    font-size: 0.9rem;
    color: #4e4e4e;
    text-align: right;
    animation: wave 2s infinite;
    animation-timing-function: linear;
} 

  
@keyframes wave {
    0% { transform: translateY(0px) }
    25% { transform: translateY(-10px) }
    50% { transform: translateY(10px) }
    75% { transform: translateY(-10px) }
    100% { transform: translateY(0px) }
}


/* Total Time section styling */

.total-time-section {
    background-color: #ebf0f9;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1100px;
    border: 1px solid #ddd; /* light gray border */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}


.section-time p {
    margin-bottom: 10px;
    color: #583131;
    font-weight: bolder;
}

.canvas-wrapper {
    width: 300px;
    height: 300px;
    display: inline-block; /* to make the wrapper div inline */
}

/* Goals section styling */
.goals-section {
    background-color: #ebf9ed;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1100px;
    border: 1px solid #ddd; /* light gray border */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}


/* Add some basic styling to the form */
.add-more-goals-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the input field */
.add-more-goals-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

.add-goal-btn {
    margin-top: 10px;
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.add-more-goals-form .add-goal-btn:hover {
    background-color: #ff85c2;
}

.goals-display {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goals-display p {
    color: #ff69b4;
    font-size: 18px;
}

.goals-display ul {
    list-style-type: none;
    padding: 0;
}

.goals-display ul li {
    padding: 10px;
    background-color: #ffebf0;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.goals-display ul li::before {
    content: "🎯";
    margin-right: 10px;
    font-size: 20px;
}

.no-goals-message {
    text-align: center;
    color: #ff69b4;
    font-size: 18px;
}

.goal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.goal-text {
    flex-grow: 1;
}

.delete-goal-form {
    margin: 0;
}

.delete-goal-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
text-align: right;
}

