body {
            background-color: #04172a;
            color: antiquewhite;
        }
        
#yogaSteps {
            font-size: 1.2rem;
            margin-top: 20px;
        }
.yoga-link {
            display: block;
            margin-top: 5px;
            font-size: 1rem;
            color: #8fe5f2;
        }