/* ///// START OF GAMES PAGE  //////// */

/* Body and Container */
body.games-page {
    margin: 0;
    padding: 0;
    background-color: #fbe5e5; /* Light background color */
}

.gamescontainer {
    width:90%; 
    margin: 0 auto; 
    padding: 20px;
   
}

/* Header */
.headerSection {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 2%;
    background-color: #f9ddb4;
    font-family: 'Rusty Hooks', cursive;
}

/* Custom layout styling for top games played  */
.card-img-top {
    margin-left: 50%;
    padding: 2%;
    width: 200px;
    height: 200px; 
    object-fit: cover; /* To ensure the images are scaled properly to avoid cropped areas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: #bbfece;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and box-shadow */
}

.card-img-top:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 28px 16px rgba(0, 0, 0, 0.4); /* Larger shadow on hover */
}

.headerSection .btn {
    margin-top: 20px; /* Add some space between the button and the header */
    font-size: 1.2rem; /* Font size for the button */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners for the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Soft shadow */
                0 6px 20px rgba(0, 0, 0, 0.19); /* Deeper shadow */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    background-color: #e4b18b; /* Bright orange color that might appeal to kids */
    color: #FFFFFF; /* White text color for better contrast */
    border: none; /* Remove the default border */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.headerSection .btn:hover {
    transform: scale(1.1); /* Scale the button up on hover */
    background-color: #FFA07A; /* Change the background color to a bright coral color on hover */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25), /* Deeper shadow on hover */
                0 10px 30px rgba(0, 0, 0, 0.22); /* Even deeper shadow on hover */
}

/* Dropdown */
#categoryDropdown {
    width: fit-content;
    background-color: rgb(202, 149, 79);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

/* Games Brief */
.gamesBrief {
    position: relative;
    max-width: 80%; /* Use max-width instead of width for a more responsive design */
    padding: 2%;
    margin: 40px auto; /* Add a margin top and bottom for better spacing */
    background: linear-gradient(120deg, #fcdcf4, #c9c4fc, #d6fcf4, #fcf6d9);
    background-size: 300% 300%;
    animation: colorChange 10s ease infinite;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: #333;
}

@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gamesBrief h3 {
    color: #2b5b34;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    animation: textChange 5s ease infinite; /* Add text change animation */
}

@keyframes textChange {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.gamesDescription {
    color: #25372f;
    font-family: 'Yaelah';
    font-size: 1.2rem;
    margin-top: 20px; /* Increase the margin top for better spacing */
    line-height: 1.6;
}

.gamesBrief img {
    width: 70%; /* Make the image full width */
    height: auto; /* Maintain the image aspect ratio */
    margin: 20px auto; /* Add a margin top and bottom for better spacing */
    display: block; /* Make the image a block element for better layout */
}

/* Podium Section */
.podium-container {
    text-align: center;
    margin: 50px 0;
}

.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.podium-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #4b0c7f;
    text-shadow: 1px 1px 2px rgba(229, 234, 150, 0.1);
}

.podium .podium-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    flex: 1;
}

.podium .podium-item .star {
    width: 80px; 
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0; 
    position: relative;
    top: -20px; /* Adjust to create gaps between stars and blocks */
}

/* Increased size of the star */
.podium .podium-item .star i {
    font-size: 80px;
}

.podium .first-place .star i {
    color: rgba(76, 175, 80, 0.8); /* Semi-transparent green */
}

.podium .second-place .star i {
    color: rgba(226, 249, 25, 0.8); /* Semi-transparent yellow */
}

.podium .third-place .star i {
    color: rgba(255, 87, 34, 0.8); /* Semi-transparent orange */
}

.podium .podium-item .star img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-left: -81%;
   
}

.podium .podium-item .podium-number {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    height: 100px;
    box-sizing: border-box;
}

.podium .first-place .podium-number {
    height: 150px; /* Adjust height for the tallest block */
    background-color: #1ee324;
}

.podium .second-place .podium-number {
    height: 130px; /* Adjust height for the second tallest block */
    background-color: #f0be28;
}

.podium .third-place .podium-number {
    height: 110px; /* Adjust height for the shortest block */
    background-color: #ff5622;
}


/* Style for the game headers */
.game-header {
    text-align: left;
    margin: 40px 0 20px 0;
    font-size: 2rem;
    color: #3a3535;
    font-size: 2.1rem;
    font-family: 'Yaelah';
}

/* Carousel controls */
.games-page .carousel-control-prev,
.games-page .carousel-control-next {
    background-color: rgb(6, 54, 88); /* Add a semi-transparent background */
    border-radius: 50%; /* Make it circular */
    width: 40px; /* Reduce the width */
    height: 40px; /* Reduce the height */
    top: 50%; /* Move it down */
    transform: translateY(-50%);
}

.games-page .carousel-control-prev {
    margin-left: -50px; /* Push it more to the outside */
}

.games-page .carousel-control-next {
    margin-right: -50px; /* Push it more to the outside */
}

.carousel {
    margin-bottom: 40px;
}

.custom-header {
    text-align: center; /* Centers the text horizontally */
    margin: 60px; /* Adds a margin of 20px to the top and bottom */
    font-size: 2.1rem;
    font-weight: bold; /* Makes the text bold */
    color: #333; /* Sets the text color to a dark gray */
    font-family: 'Yaelah';
}

/* Custom styling fo cards that carries the game contents  */
.card {
    height: 200px; /* Set a fixed height for the cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
   
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(215, 214, 244);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-family: 'SuperMilk';
    color: #f0f7b5;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    letter-spacing: 0.2em;
    text-align: center; /* Center the text */
    flex: 1;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
