/* Carousel Items Centering */
.carousel-item > div {
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text horizontally */
    height: 300px; /* Ensure consistent height */
    position: relative;
}

/* Pop-up Animations */
.pop-up-top-left {
    position: absolute;
    top: -150px;
    left: -150px;
    animation: slideInTopLeft 1s forwards;
    animation-delay: 0.5s;
    font-family: 'Yaelah';
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgba(111, 120, 247, 0.5);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pop-up-top-right {
    position: absolute;
    top: -150px;
    right: -150px;
    animation: slideInTopRight 1s forwards;
    animation-delay: 0.5s;
    font-family: 'Yaelah';
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgba(49, 155, 134, 0.5);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pop-up-bottom-left {
    position: absolute;
    bottom: -150px;
    left: -150px;
    animation: slideInBottomLeft 1s forwards;
    animation-delay: 0.5s;
    font-family: 'Yaelah';
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgba(247, 111, 224, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pop-up-bottom-right {
    position: absolute;
    bottom: -150px;
    right: -150px;
    animation: slideInBottomRight 1s forwards;
    animation-delay: 0.5s;
    font-family: 'Yaelah';
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgba(215, 176, 5, 0.5);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes slideInTopLeft {
    to {
        top: 10px;
        left: 10px;
    }
}

@keyframes slideInTopRight {
    to {
        top: 10px;
        right: 10px;
    }
}

@keyframes slideInBottomLeft {
    to {
        bottom: 10px;
        left: 10px;
    }
}

@keyframes slideInBottomRight {
    to {
        bottom: 10px;
        right: 10px;
    }
}


/* Vision and Mission Section */
.vision-mission-section {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.vision-mission-section .vision,
.vision-mission-section .mission {
    background-color: rgba(249, 123, 123, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-15deg);
    font-family: 'Yaelah';
    color: #30302f;
}
.vision-mission-section .vision {
    left: 5%;
    width: 40%;
}
.vision-mission-section .mission {
    right: 5%;
    width: 40%;
    transform: translateY(-50%) rotate(15deg);
}
.vision-mission-section img {
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.vision-mission-section h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

.vision-mission-section p {
    font-size: 1rem;
}

/* Image with Text Section */
.image-text-section img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Explore more section header  */
.exploremore {
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    padding: 2%;
    font-weight:bolder;
    color: #341bb5; /* Text color */
    overflow: hidden; /* Hide overflow for the wave effect */
    z-index: 1;
    font-family: 'Rusty Hooks', cursive;
}   

.exploremore span {
    display: inline-block;
    animation: wave 1.5s infinite;
    transform-origin: bottom center;
}

@keyframes wave {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

/* Adding delay to each span to create wave effect */
.exploremore span:nth-child(1) { animation-delay: 0.1s; }
.exploremore span:nth-child(2) { animation-delay: 0.2s; }
.exploremore span:nth-child(3) { animation-delay: 0.3s; }
.exploremore span:nth-child(4) { animation-delay: 0.4s; }
.exploremore span:nth-child(5) { animation-delay: 0.5s; }
.exploremore span:nth-child(6) { animation-delay: 0.6s; }
.exploremore span:nth-child(7) { animation-delay: 0.7s; }
.exploremore span:nth-child(8) { animation-delay: 0.8s; }
.exploremore span:nth-child(9) { animation-delay: 0.9s; }
.exploremore span:nth-child(10) { animation-delay: 1.0s; }
.exploremore span:nth-child(11) { animation-delay: 1.1s; }
.exploremore span:nth-child(12) { animation-delay: 1.2s; }
.exploremore span:nth-child(13) { animation-delay: 1.3s; }
.exploremore span:nth-child(14) { animation-delay: 1.4s; }
.exploremore span:nth-child(15) { animation-delay: 1.5s; }
.exploremore span:nth-child(16) { animation-delay: 1.6s; }
.exploremore span:nth-child(17) { animation-delay: 1.7s; }
.exploremore span:nth-child(18) { animation-delay: 1.8s; }
.exploremore span:nth-child(19) { animation-delay: 1.9s; }


/* Calls to Action Section */

.call-to-action-item {
    position: relative;
    text-align: center;
    margin: 10px;
}

.overlay-container {
    position: relative;
    
}

.overlay-container img {
    width: 100%;
    border-radius: 10px;
    
}

.description {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    
   
}

.description h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.description p {
    font-size: 1rem;
    color: #666;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure the overlay is above the description */
    pointer-events: none; /* Prevent mouse events from being captured */
}

.overlay h4 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.overlay p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 15px;
    padding: 0 20px;
}

.overlay .btn {
    font-size: 1.25rem;
    padding: 10px 20px;
    background-color: #4caf50; /* Green background for button */
    color: #fff; /* White text for button */
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    pointer-events: all; /* Ensure buttons can be clicked */
}

.overlay .btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.overlay-container:hover .overlay {
    opacity: 1;
    pointer-events: all; /* Enable mouse events on hover */
}

.overlay-container:hover .description {
    opacity: 0; /* Hide the description on hover */
}


/* Welcome Section */

.welcome-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.welcome-section p.lead {
    font-size: 1.5rem;
    color: #666;
}

.welcome-section h2 {
    font-size: 4.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, #6e49ff, #ff49c8, #ff8c4e);
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
    animation: gradientAnimation 3s ease infinite, textGlow 1.2s ease-in-out infinite alternate;
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 0 5px rgba(156, 178, 44, 0.5), 0 0 10px rgba(28, 203, 197, 0.3);
    letter-spacing: 0.4rem;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* Testimonials Section */
.testimonials-section {
    background-color: #dffbf3; /* Light gray background color */
    padding: 2rem; /* Add some space around the content */
}

.testimonials-section h3 {
    font-size: 2rem; /* Larger font size for the header */
    font-weight: bold; /* Bold font weight for the header */
    color: #3498db; /* Blue color for the header */
    text-transform: uppercase; /* Convert the text to uppercase */
    margin-bottom: 1rem; /* Add some space between the header and the content */
    padding-bottom: 0.5rem; /* Add some space below the header */
    border-bottom: 1px solid #ccc; /* Add a bottom border to the header */
}

.testimonial-container {
    margin-top: 2rem; /* Add some space between the header and the testimonials */
}

.testimonial-header {
    font-family: 'Yaelah';
    text-align: center;
}
.thought-bubble {
    font-family: 'Yaelah';
    color: #ffffff;
    border-radius: 1rem; /* Rounded corners for the thought bubbles */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the thought bubbles */
    padding: 1rem; /* Add some space around the content */
    margin-bottom: 1rem; /* Add some space between the thought bubbles */
    position: relative; /* Set the position to relative for the animation */
}

.thought-bubble::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #f5c4c4;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    transform: rotate(45deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thought-bubble:hover {
    transform: rotate(5deg); /* Rotate the thought bubble on hover */
    transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
}

.testimonial-container {
    display: flex; /* Display the thought bubbles in a flex container */
    flex-wrap: wrap; /* Wrap the thought bubbles to the next line */
    justify-content: center; /* Center the thought bubbles horizontally */
}

.thought-bubble:nth-child(1) {
    background-color: #4082fb; /* Blue background color for the first thought bubble */
    animation: move 5s infinite; /* Add an animation to the first thought bubble */
}

.thought-bubble:nth-child(2) {
    background-color: #34c759; /* Green background color for the second thought bubble */
    animation: move 5s infinite; /* Add an animation to the second thought bubble */
    animation-delay: 1s; /* Delay the animation by 1 second */
}

.thought-bubble:nth-child(3) {
    background-color: #ff69b4; /* Pink background color for the third thought bubble */
    animation: move 5s infinite; /* Add an animation to the third thought bubble */
    animation-delay: 2s; /* Delay the animation by 2 seconds */
}

.thought-bubble:nth-child(4) {
    background-color: #ffd700; /* Yellow background color for the fourth thought bubble */
    animation: move 5s infinite; /* Add an animation to the fourth thought bubble */
    animation-delay: 3s; /* Delay the animation by 3 seconds */
}

@keyframes move {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(10px) rotate(10deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}