
.carousel-item > div {
    display: flex;
    align-items: center;  /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text horizontally */
}

/* Vision and Mission Section */
.vision-mission-section {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
   
}
.vision-mission-section .vision,
.vision-mission-section .mission {
    background-color: rgba(249, 123, 123, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-15deg);
}
.vision-mission-section .vision {
    left: 5%;
    width: 40%;
}
.vision-mission-section .mission {
    right: 5%;
    width: 40%;
    transform: translateY(-50%) rotate(15deg);
}
.vision-mission-section img {
    width: 35%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.vision-mission-section h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

.vision-mission-section p {
    font-size: 1rem;
}

/* Image with Text Section */
.image-text-section img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Testimonials Section */
.testimonials-section {
    background-color: #e1f5fe;
    padding: 50px 0;
}

.testimonials-section h3 {
    font-size: 2rem;
    font-weight: bold;
}

.testimonials-section h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.testimonials-section p {
    font-size: 1rem;
}

/* Calls to Action Section */
.call-to-action-section {
    background-color: #fff3e0;
    padding: 50px 0;
}

.call-to-action-section h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.call-to-action-section .btn {
    font-size: 1.25rem;
    padding: 10px 20px;
}