@font-face {
    font-family: 'Rusty Hooks';
    src: url('/fonts/Candyful-rgdjx.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuperMilk';
    src: url('/fonts/SuperMilk-nRq9Y.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yaelah';
    src: url('/fonts/Yaelah.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-home-page h1, .main-home-page h2, .main-home-page h3 {
    font-family: 'Rusty Hooks', cursive;
    color: #271e4c;
}


/* Navigation header  */
.navbar {
    background-color: #7190e4; 
}
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.navbar-brand {
    color:antiquewhite;
    font-weight: bold; 
    font-size: 24px; 
    
}

/* to replace log in to username */
.navbar-text{
    margin-left: auto;
    color: #fcecee;
    font-family: 'Rusty Hooks', cursive;
    letter-spacing: 0.3em;
}

.nav-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
}
.nav-button img { 
    margin-left: 5px; 
    width: 20px; 
    height: 20px; 
}
.nav-button.home { background-color: #db40d0; } /* Home button color */
.nav-button.games { background-color: #4a4596; } /* Games button color */
.nav-button.forum { background-color: #66bb6a; } /* Forum button color */
.nav-button.assessment { background-color: #87aadf; } /* Assessment button color */
.nav-button.dashboard { background-color: #ffa726; } /* Dashboard button color */
.nav-button.login { color: #000; margin-left: auto; } /* Log In button color */
.main-home-page{
    background-color:#eee1ab;
}


/* Footer Section */
.footer-section {
    background-color: #fdf3e3;
    padding: 40px 0;
    color: #333;
    font-size: 16px;
}

.footer-section .footer-column {
    padding: 0 20px;
}

.footer-section h5 {
    font-size: 2rem;
    font-weight: bold;
    color: #777;
    margin-bottom: 40px;
}

.footer-section h6 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #555;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .newsletter-input {
    max-width: 100%;
}

.footer-section .newsletter-column {
    border-left: 2px solid #333;
    padding-left: 20px;
}

.footer-section .social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.footer-section .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #555;
}

.footer-section .social-icons a:hover {
    color: #007bff;
}

