@font-face {
    font-family: 'Rusty Hooks';
    src: url('/fonts/Candyful-rgdjx.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-home-page h1, .main-home-page h2, .main-home-page h3 {
    font-family: 'Rusty Hooks', cursive;
    color: #271e4c;
}




/* START of login page */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container p {
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

/* input field sizing  */
.login-container input[type="email"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* login button */
.login-container button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

/* button to show difference in colour when hovering */
.login-container button:hover {
    background-color: #587b58;
}

/* register hyperlink */
.login-container a {
    color: #007bff;
    text-decoration: none;
}

/* show underline to click during hover  */
.login-container a:hover {
    text-decoration: underline;
}

/* if any error msg it will appear in red colour */
.login-container .error {
    color: red;
}
/*  End of login page */

/* START of register Page */
.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* position and text colour of header */
.register-container h1 {
    margin-bottom: 20px;
    color: #333;
}

/* container sizing */
.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* text inside register form sizing and position */
.register-container p {
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

.register-container input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* register button */
.register-container button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 18px;
}

/* button to show difference in colour when hovering */
.register-container button:hover {
    background-color: #2e522e;
}

/* login hyperlink text */
.register-container a {
    color: #007bff;
    text-decoration: none;
}

/* show underline to click during hover  */
.register-container a:hover {
    text-decoration: underline;
}

/* show error messages in red if any */
.register-container .error {
    color: red;
}
/* END of register Page */

/* Navigation header  */
.navbar {
    background-color: #7190e4; 
}
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
.navbar-brand {
    color:antiquewhite;
    font-weight: bold; 
    font-size: 24px; 
    
}

/* to replace log in to username */
.navbar-text{
    margin-left: auto;
    color: #fcecee;
    font-family: 'Rusty Hooks', cursive;
    letter-spacing: 0.3em;
}

.nav-button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
}
.nav-button img { 
    margin-left: 5px; 
    width: 20px; 
    height: 20px; 
}
.nav-button.home { background-color: #db40d0; } /* Home button color */
.nav-button.games { background-color: #4a4596; } /* Games button color */
.nav-button.forum { background-color: #66bb6a; } /* Forum button color */
.nav-button.assessment { background-color: #87aadf; } /* Assessment button color */
.nav-button.dashboard { background-color: #ffa726; } /* Dashboard button color */
.nav-button.login { color: #000; margin-left: auto; } /* Log In button color */
.main-home-page{
    background-color:#eee1ab;
}


/* Footer Section */
.footer-section {
    background-color: #fdf3e3;
    padding: 40px 0;
    color: #333;
    font-size: 16px;
}

.footer-section .footer-column {
    padding: 0 20px;
}

.footer-section h5 {
    font-size: 2rem;
    font-weight: bold;
    color: #777;
    margin-bottom: 40px;
}

.footer-section h6 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #555;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .newsletter-input {
    max-width: 100%;
}

.footer-section .newsletter-column {
    border-left: 2px solid #333;
    padding-left: 20px;
}

.footer-section .social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.footer-section .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #555;
}

.footer-section .social-icons a:hover {
    color: #007bff;
}

