<!DOCTYPE html>
<html>
<head>
    <title>Educational Content</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: #04172a;
            color: antiquewhite;
        }
        .video-responsive {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
        }
        .video-responsive iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: black; /* arrow color */
            height: 50px; /* Size of the arrows */
            width: 50px;
        }
        .carousel-control-prev, .carousel-control-next {
            width: 5%; /* Width of clickable arrow area */
        }
        /* Move the arrows outside the video */
        .carousel-control-prev {
            left: -60px;
        }
        .carousel-control-next {
            right: -60px;
        }
    </style>
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Learn About Emotions</h1>
        <div id="videoCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/HwmPtGI-f9A" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/ymrvDRofDkY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/jetoWelJJJk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                    
            </div>
            <a class="carousel-control-prev" href="#videoCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#videoCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
          <!-- Progress Bar -->
    <div class="progress mt-5">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
            data-gameid="<%= gameId %>" data-userid="<%= userName %>"></div>
    </div>
    <p id="time-remaining" class="mt-3">Time remaining: 15 minutes 0 seconds</p>
    <button class="btn btn-secondary mt-3" onclick="window.location.href='/games'">Back to Games</button>
    </div>
    
    <script src="/progressTracker/progress.js"></script>

    <script>
        $(document).ready(function(){
            $('.carousel').carousel({
                interval: 5000 // auto change speed
            })
        });
    </script>
</body>
</html>
