<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Routine</title>
    <link rel="stylesheet" href="/gamesIndiv.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">Yoga Routine</h1>
        <p class="lead">Follow the yoga routine for relaxation.</p>
        <div id="yogaRoutine" class="mt-4">
            <div id="yogaSteps"></div>
        </div>

        <!-- Progress Bar -->
        <div class="progress mt-5">
            <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                data-gameid="<%= gameId %>" data-userid="<%= userName %>"></div>
        </div>
        <p id="time-remaining" class="mt-3">Time remaining: 15 minutes 0 seconds</p>
        <button class="btn btn-secondary mt-3" onclick="window.location.href='/games'">Back to Games</button>
    </div>

    <script src="/progressTracker/progress.js"></script>
    <script>
        const yogaSteps = [
            { name: 'Mountain Pose', link: 'https://www.youtube.com/watch?app=desktop&v=S08rkqIegMo' },
            { name: 'Downward Dog', link: 'https://www.youtube.com/watch?v=EC7RGJ975iM' },
            { name: 'Warrior I', link: 'https://www.youtube.com/watch?v=kkGY3xBnaGc' },
            { name: 'Warrior II', link: 'https://www.youtube.com/watch?v=Mn6RSIRCV3w' },
            { name: 'Tree Pose', link: 'https://www.youtube.com/watch?v=Fr5kiIygm0c' }
        ];

        function displayYogaSteps() {
            const yogaStepsContainer = document.getElementById('yogaSteps');
            yogaStepsContainer.innerHTML = '';
            yogaSteps.forEach(step => {
                const stepElement = document.createElement('div');
                stepElement.innerHTML = `
                    <strong>${step.name}</strong>
                    <a class="yoga-link" href="${step.link}" target="_blank">Watch demo video for ${step.name}</a>
                `;
                yogaStepsContainer.appendChild(stepElement);
            });
        }

        // Display yoga steps on page load
        document.addEventListener('DOMContentLoaded', displayYogaSteps);
    </script>
</body>
</html>
